.form {
  width: 100%;
}

.form__input {
  display: block;
  margin-bottom: 16px;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid rgba(170, 173, 179, 0.4);
  border-radius: 20px;
  
  &::placeholder {
    color: #8695AD;
    opacity: 1;
  }
}

.form__checkbox {
  display: none;
}

.form__label {
  position: relative;
  display: block;
  padding-left: 30px;
  
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 20px;
    color: @blue;
    text-align: center;
    line-height: 20px;
    font-weight: 800;
    font-size: 20px;
    border: 1px solid rgba(170, 173, 179, 0.4);
    border-radius: 5px;
  }
}

.form__checkbox:checked + .form__label::before {
  content: "\2713";
}

.form__btn {
  margin-top: 20px;
}

.form__number {
  position: relative;
  display: flex;
  align-items: center;
  width: 219px;
  border-top: 1px solid rgba(170, 173, 179, 0.2);
  border-bottom: 1px solid rgba(170, 173, 179, 0.2);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 168px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0,87,255,0.3);
    filter: blur(12px);
    .transition();
  }
}

.form__num {
  display: block;
  width: 42px;
  height: 42px;
  background-color: #269CED;
  border-radius: 16.8px;
  background-repeat: no-repeat;
  background-position: center;
  .transition();
  
  &--minus {
    background-image: url(../img/icons/minus.svg);
    background-size: 20px 6px;
  }
  
  &--plus {
    background-image: url(../img/icons/plus.svg);
    background-size: 20px 20px;
  }
  
  &:hover,
  &:active {
    background-color: rgba(38,156,237,0.7);
    .transition();
  }
}

.form__value {
  display: block;
  width: 135px;
  height: 50px;
  font-weight: bold;
  font-size: 22px;
  line-height: 1;
  text-align: center;
}
